.live-board {
    /* Button color settings */
        --btn-text-color: #ffffff;
        --btn-bg-color: #e53535;
        --btn-text-color-hover: #fff;
        --btn-bg-color-hover: #0002;

    /* Button Typography */
        --btn-text-size: 1.2rem;
        --btn-text-weight: bold;

    /* Button Border settings */
        --btn-border-radius: 0;
        --btn-border-width: 0;
        --btn-border-style: solid;
        --btn-border-color: #e53535;
        --btn-border-width-hover: 0;
        --btn-border-style-hover: solid;
        --btn-border-color-hover: #e53535;

    /* Button Padding */
        --btn-padding-top-bottom: 0;
        --btn-padding-left-right: 2.5em;

    /* Button Animation effects settings */
        /* Only use one effect at a time and change the value of other effect to its default */
        /* Sliding animation settings */
            /* Animation container position before hover [value between -100% to 100% (both inclusive)] */
                --btn-hover-x-position-before: -100%; /* Default: 0% */
                --btn-hover-y-position-before: 0%; /* Default: 0% */
            /* Animation container position after hover */
                --btn-hover-x-position-after: 0%; /* Don't change this value from 0% without knowing the effect */ /* Default: 0% */
                --btn-hover-y-position-after: 0%; /* Don't change this value from 0% without knowing the effect */ /* Default: 0% */

        /* Growing animation settings */
            /* Animation container size before hover [value between 0 and 1 (both inclusive)] */
                --btn-hover-x-scale-before: 1; /* Default: 1 */
                --btn-hover-y-scale-before: 1; /* Default: 1 */
            /* Animation container size after hover */
                --btn-hover-x-scale-after: 1; /* Default: 1 */
                --btn-hover-y-scale-after: 1; /* Default: 1 */

        /* Animation timing settings */
            --btn-animation-time: 0.5s; /* More the time slower the animation speed */

    /* Items Heading settings */
        --items-heading-color: #000;
        --items-heading-size: 3.5rem;

    /* Promo Section settings */
        /* Promo Section main heading settings */
            --promo-heading-color: #000;
        
        /* Promo Section Icons Heading settings */
            --promo-column-heading-color: #e53535;
}

.live-board .cta-button .cta-button-background {
    display: none;
}

.live-board .banner-box .banner-container .banner-content .cta-button,
.live-board .promotion-area-container .custom-cta-btn .promotion-cta-button {
    background-color: var(--btn-bg-color) !important;
    transition: background-color 0.2s cubic-bezier(0.075, 0.82, 0.165, 1),
        color 0.2s ease;
    position: relative;
    border-radius: var(--btn-border-radius) !important;
    overflow: hidden;
    border: var(--btn-border-width, 2px) var(--btn-border-style, solid) var(--btn-border-color, black) !important;
    padding: var(--btn-padding-top-bottom) var(--btn-padding-left-right) !important;
}

.live-board .banner-box .banner-container .banner-content .cta-button:hover,
.live-board .promotion-area-container .custom-cta-btn .promotion-cta-button:hover {
    border: var(--btn-border-width-hover, 2px) var(--btn-border-style-hover, solid) var(--btn-border-color-hover, black) !important;
}

.live-board .banner-box .banner-container .banner-content .cta-button::after,
.live-board .promotion-area-container .custom-cta-btn .promotion-cta-button::after {
    content: '';
    position: absolute;
    width: 110%;
    height: 110%;
    top: -5%;
    left: -5%;
    border-radius: var(--btn-border-radius) !important;
    background-color: var(--btn-bg-color-hover) !important;
    transition: transform var(--btn-animation-time) cubic-bezier(0.075, 0.82, 0.165, 1);
    transform: translate(var(--btn-hover-x-position-before), var(--btn-hover-y-position-before)),
                scale(var(--btn-hover-x-scale-before), var(--btn-hover-y-scale-before));
}

.live-board .banner-box .banner-container .banner-content .cta-button:hover::after,
.live-board .promotion-area-container .custom-cta-btn .promotion-cta-button:hover::after {
    transform: translate(var(--btn-hover-x-position-after), var(--btn-hover-y-position-after)),
                scale(var(--btn-hover-x-scale-after), var(--btn-hover-y-scale-after));
}

.live-board .banner-box .banner-container .banner-content .cta-button label,
.live-board .promotion-area-container .custom-cta-btn .promotion-cta-button label {
    color: var(--btn-text-color) !important;
    position: relative;
    z-index: 999;
    font-size: var(--btn-text-size) !important;
    font-weight: var(--btn-text-weight) !important;
}

.live-board .banner-box .banner-container .banner-content .cta-button:hover label,
.live-board .promotion-area-container .custom-cta-btn .promotion-cta-button:hover label {
    color: var(--btn-text-color-hover) !important;
}

.live-board .positioning-container .positioning-text h1 {
    font-size: var(--items-heading-size, 3.5rem) !important;
    font-weight: 500 !important;
    color: var(--items-heading-color) !important;
}

.live-board .promotion-area-container .promotion-area-text h1 {
    font-weight: 500 !important;
    color: var(--promo-heading-color) !important;
}

.live-board .promotion-area-container .promotion-items.columns-container .promotion-item .promotion-item-text h2 {
    color: var(--promo-column-heading-color) !important;
}

.live-board-desktop .seller-card-container .card.opened .open-card-additional-data .cta-button { 
    background-color: var(--btn-bg-color) !important; 
    border-radius: 0 0 8px 8px !important; 
}